.contactUs {
    background-color: linear-gradient(to right, #2c3e50, #3498db);
    padding: 0.25px 0px 0.25px 0px;
    margin-top: 1em;
    bottom:0px;
    position: absolute;
    width: 100%;
}

 .contactUs-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 8px;
    color: rgba(255,255,255,.5);
}
.contactUs .contactUs-list a{
    color: white;
    padding: 16px;

}